
<li class="dropdown">
<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">address <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#/address/list">List</a></li>
    <li><a href="#/address/create">Create</a></li>
  </ul>
</li>

<li class="dropdown">
<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">category <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#/category/list">List</a></li>
    <li><a href="#/category/create">Create</a></li>
  </ul>
</li>

<li class="dropdown">
<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">client <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#/client/list">List</a></li>
    <li><a href="#/client/create">Create</a></li>
  </ul>
</li>

<li class="dropdown">
<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">contact <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#/contact/list">List</a></li>
    <li><a href="#/contact/create">Create</a></li>
  </ul>
</li>

<li class="dropdown">
<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">country <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#/country/list">List</a></li>
    <li><a href="#/country/create">Create</a></li>
  </ul>
</li>

<li class="dropdown">
<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">currency <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#/currency/list">List</a></li>
    <li><a href="#/currency/create">Create</a></li>
  </ul>
</li>

<li class="dropdown">
<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">estimate <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#/estimate/list">List</a></li>
    <li><a href="#/estimate/create">Create</a></li>
  </ul>
</li>

<li class="dropdown">
<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">estimate_contacts <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#/estimate_contacts/list">List</a></li>
    <li><a href="#/estimate_contacts/create">Create</a></li>
  </ul>
</li>

<li class="dropdown">
<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">estimate_line <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#/estimate_line/list">List</a></li>
    <li><a href="#/estimate_line/create">Create</a></li>
  </ul>
</li>

<li class="dropdown">
<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">estimate_status <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#/estimate_status/list">List</a></li>
    <li><a href="#/estimate_status/create">Create</a></li>
  </ul>
</li>

<li class="dropdown">
<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">expense <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#/expense/list">List</a></li>
    <li><a href="#/expense/create">Create</a></li>
  </ul>
</li>

<li class="dropdown">
<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">invoice <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#/invoice/list">List</a></li>
    <li><a href="#/invoice/create">Create</a></li>
  </ul>
</li>

<li class="dropdown">
<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">invoice_line <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#/invoice_line/list">List</a></li>
    <li><a href="#/invoice_line/create">Create</a></li>
  </ul>
</li>

<li class="dropdown">
<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">invoice_status <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#/invoice_status/list">List</a></li>
    <li><a href="#/invoice_status/create">Create</a></li>
  </ul>
</li>

<li class="dropdown">
<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">invoice_type <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#/invoice_type/list">List</a></li>
    <li><a href="#/invoice_type/create">Create</a></li>
  </ul>
</li>

<li class="dropdown">
<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">language <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#/language/list">List</a></li>
    <li><a href="#/language/create">Create</a></li>
  </ul>
</li>

<li class="dropdown">
<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">office <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#/office/list">List</a></li>
    <li><a href="#/office/create">Create</a></li>
  </ul>
</li>

<li class="dropdown">
<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">office_data <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#/office_data/list">List</a></li>
    <li><a href="#/office_data/create">Create</a></li>
  </ul>
</li>

<li class="dropdown">
<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">role <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#/role/list">List</a></li>
    <li><a href="#/role/create">Create</a></li>
  </ul>
</li>

<li class="dropdown">
<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">staff <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#/staff/list">List</a></li>
    <li><a href="#/staff/create">Create</a></li>
  </ul>
</li>

<li class="dropdown">
<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">tax <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#/tax/list">List</a></li>
    <li><a href="#/tax/create">Create</a></li>
  </ul>
</li>

<li class="dropdown">
<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">user <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#/user/list">List</a></li>
    <li><a href="#/user/create">Create</a></li>
  </ul>
</li>
